#Btn11 {
    padding: 15px 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 600;
    background-color: #333;
    transition: all 0.4s ease-in;
    position: relative;
    text-transform: uppercase;
}

#Btn11::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'BUTTON 11';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

#Btn11:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #0af, 3px 3px 0px #bae94b;
    background-color: transparent;
    border: 3px solid #0af;
}

#Btn11:hover {
    text-shadow: -1px -1px 0px #0af, 1px 1px 0px #bae94b;
}

#Btn11:hover {
    background-color: transparent;
    border: 1px solid #0af;
    box-shadow: 0px 10px 10px -10px #0af, 0px 0px 1000px 0px whitesmoke;;
}

@keyframes glitch_4011 {
    0% {
        clip-path: var(--move1);
        transform: translate(0px, -10px);
    }

    10% {
        clip-path: var(--move2);
        transform: translate(-10px, 10px);
    }

    20% {
        clip-path: var(--move3);
        transform: translate(10px, 0px);
    }

    30% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    40% {
        clip-path: var(--move5);
        transform: translate(10px, -10px);
    }

    50% {
        clip-path: var(--move6);
        transform: translate(-10px, 10px);
    }

    60% {
        clip-path: var(--move1);
        transform: translate(10px, -10px);
    }

    70% {
        clip-path: var(--move3);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--move2);
        transform: translate(10px, -10px);
    }

    90% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    100% {
        clip-path: var(--move1);
        transform: translate(0);
    }
}
