#Btn9{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 1px solid wheat;
    position: relative;
    color: whitesmoke;
    padding: 15px 50px;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    text-transform: uppercase;
}

#Btn9:hover{
    border: none;
    color: whitesmoke;
    background-color: #0af;
    box-shadow: 0 0 10px #0af, 0 0 40px #0af, 0 0 80px #0af;
    transition-delay: 1s;
}

#Btn9 span{
    position: absolute;
    display: block;
}

#Btn9 span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background: linear-gradient(90deg, transparent , #0af);
}

#Btn9:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

#Btn9 span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background: linear-gradient(270deg, transparent , #0af);
}

#Btn9:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#Btn9 span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, transparent , #0af);
}

#Btn9:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#Btn9 span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(360deg, transparent , #0af);
}

#Btn9:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#btn-c:hover{
    box-shadow: 0px 0px 1000px 0px whitesmoke;
}
